In [ ]:
###################################################################
#NASA Turbofan Engine Degradation reliability and failure analysis#
###################################################################
#
# File structure and SQL update

In [ ]:
import pandas as pd
from sqlalchemy import create_engine, text

In [29]:
# create connection
engine = create_engine("postgresql://postgres:Project1-NASA@localhost:5432/Project1-NASA")

engine.connect()

In [26]:
# create column names per readme.txt
column_names = (
    ["engine_id", "cycle"] + [f"op_setting_{num}" for num in range(1,4)] + [f"sensor_{num}" for num in range(1,22)]
)

# create a dataframe and populate with first file of data (r"\s+" is a regular expression for any amount of white space)
df = pd.read_csv("train_FD001.txt", sep=r"\s+", header=None, names=column_names)

df.head(5)

,engine_id,cycle,op_setting_1,op_setting_2,op_setting_3,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,...,sensor_12,sensor_13,sensor_14,sensor_15,sensor_16,sensor_17,sensor_18,sensor_19,sensor_20,sensor_21
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,522.42,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,522.86,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,522.19,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044

In [27]:
# Add additional columns to determine file once combined
df["dataset_id"] = 'FD001'
df["dataset_split"] = "train"

In [28]:
# Send to sql
df.to_sql("engine_readings", engine, if_exists='append', index=False)

631

In [30]:
# Repeat for all files 
files = [
    ('test_FD001.txt', "FD001", 'test'),
    ('test_FD002.txt', "FD002", 'test'),
    ('test_FD003.txt', "FD003", 'test'),
    ('test_FD004.txt', "FD004", 'test'),
    ('train_FD001.txt', "FD001", 'train'),
    ('train_FD002.txt', "FD002", 'train'),
    ('train_FD003.txt', "FD003", 'train'),
    ('train_FD004.txt', "FD004", 'train'),
]

for file_name, id, split in files:
    df = pd.read_csv(file_name, sep=r"\s+", header=None, names=column_names)
    
    df["dataset_id"] = id
    df["dataset_split"] = split

    df.to_sql("engine_readings", engine, if_exists='append', index=False)

    print(f"Loaded {file_name}")

Loaded test_FD001.txt
Loaded test_FD002.txt
Loaded test_FD003.txt
Loaded test_FD004.txt
Loaded train_FD001.txt
Loaded train_FD002.txt
Loaded train_FD003.txt
Loaded train_FD004.txt

In [45]:
# connecting to postgresql and retrieving the data that has been stored to it
with engine.connect() as connection:
    result = connection.execute(text('SELECT * FROM engine_readings LIMIT 10'))
    for row in result:
        print(row)

(1, 1, -0.0007, -0.0004, 100.0, 518.67, 641.82, 1589.7, 1400.6, 14.62, 21.61, 554.36, 2388.06, 9046.19, 1.3, 47.47, 521.66, 2388.02, 8138.62, 8.4195, 0.03, 392.0, 2388.0, 100.0, 39.06, 23.419, 'FD001', 'train')
(1, 2, 0.0019, -0.0003, 100.0, 518.67, 642.15, 1591.82, 1403.14, 14.62, 21.61, 553.75, 2388.04, 9044.07, 1.3, 47.49, 522.28, 2388.07, 8131.49, 8.4318, 0.03, 392.0, 2388.0, 100.0, 39.0, 23.4236, 'FD001', 'train')
(1, 3, -0.0043, 0.0003, 100.0, 518.67, 642.35, 1587.99, 1404.2, 14.62, 21.61, 554.26, 2388.08, 9052.94, 1.3, 47.27, 522.42, 2388.03, 8133.23, 8.4178, 0.03, 390.0, 2388.0, 100.0, 38.95, 23.3442, 'FD001', 'train')
(1, 4, 0.0007, 0.0, 100.0, 518.67, 642.35, 1582.79, 1401.87, 14.62, 21.61, 554.45, 2388.11, 9049.48, 1.3, 47.13, 522.86, 2388.08, 8133.83, 8.3682, 0.03, 392.0, 2388.0, 100.0, 38.88, 23.3739, 'FD001', 'train')
(1, 5, -0.0019, -0.0002, 100.0, 518.67, 642.37, 1582.85, 1406.22, 14.62, 21.61, 554.0, 2388.06, 9055.15, 1.3, 47.28, 522.19, 2388.04, 8133.8, 8.4294, 0.03, 393.0, 2388.0, 100.0, 38.9, 23.4044, 'FD001', 'train')
(1, 6, -0.0043, -0.0001, 100.0, 518.67, 642.1, 1584.47, 1398.37, 14.62, 21.61, 554.67, 2388.02, 9049.68, 1.3, 47.16, 521.68, 2388.03, 8132.85, 8.4108, 0.03, 391.0, 2388.0, 100.0, 38.98, 23.3669, 'FD001', 'train')
(1, 7, 0.001, 0.0001, 100.0, 518.67, 642.48, 1592.32, 1397.77, 14.62, 21.61, 554.34, 2388.02, 9059.13, 1.3, 47.36, 522.32, 2388.03, 8132.32, 8.3974, 0.03, 392.0, 2388.0, 100.0, 39.1, 23.3774, 'FD001', 'train')
(1, 8, -0.0034, 0.0003, 100.0, 518.67, 642.56, 1582.96, 1400.97, 14.62, 21.61, 553.85, 2388.0, 9040.8, 1.3, 47.24, 522.47, 2388.03, 8131.07, 8.4076, 0.03, 391.0, 2388.0, 100.0, 38.97, 23.3106, 'FD001', 'train')
(1, 9, 0.0008, 0.0001, 100.0, 518.67, 642.12, 1590.98, 1394.8, 14.62, 21.61, 553.69, 2388.05, 9046.46, 1.3, 47.29, 521.79, 2388.05, 8125.69, 8.3728, 0.03, 392.0, 2388.0, 100.0, 39.05, 23.4066, 'FD001', 'train')
(1, 10, -0.0033, 0.0001, 100.0, 518.67, 641.71, 1591.24, 1400.46, 14.62, 21.61, 553.59, 2388.05, 9051.7, 1.3, 47.03, 521.79, 2388.06, 8129.38, 8.4286, 0.03, 393.0, 2388.0, 100.0, 38.95, 23.4694, 'FD001', 'train')

In [ ]:
# group and count to check if all the data has been updated
with engine.connect() as connection:
    result = connection.execute(text('''SELECT dataset_id, dataset_split, COUNT(*) AS row_count FROM engine_readings 
                                     GROUP BY dataset_id, dataset_split 
                                     ORDER BY dataset_id, dataset_split'''))
    for row in result:
        print(row)

('FD001', 'test', 13096)
('FD001', 'train', 41262)
('FD002', 'test', 33991)
('FD002', 'train', 53759)
('FD003', 'test', 16596)
('FD003', 'train', 24720)
('FD004', 'test', 41214)
('FD004', 'train', 61249)