In [1]:
###################################################################
#NASA Turbofan Engine Degradation reliability and failure analysis#
###################################################################
#
# Data cleaning on the NASA Turbofan engine degradation data
# The following questions will be investigated
# - Which engines show the fastest degradation?
# - Which sensors are strongest failure indicators?
# - How long do engines typically operate before failure?

In [ ]:
# Create tables - engine_readings, engine_metadata, failure_events
# Data clean and prep - missing values, rename columns, convert timestamps/cycles,  rolling avgs, delts
# EDA - trends over time, time to failure, correlation between failure and sensors (graphs)
# Feature creation - RUL, degradation, failure frequency per engine type
# Run SQL queries - avg cycles to failure by engine type, rank engine by degradation spead, top 10 sensors with early failure,
#                   rolling avg using windows functions, failure rate by batch/custom (save sql files and show in notebook)
# Dashboard

In [46]:
import pandas as pd
from sqlalchemy import create_engine, text

In [47]:
# create connection
engine = create_engine("postgresql://postgres:Project1-NASA@localhost:5432/Project1-NASA")

engine.connect()

In [48]:
# connection to pull the data from the database and assign it to a dataframe
with engine.connect() as connection:
    result = connection.execute(text('SELECT * FROM engine_readings'))
    df = pd.DataFrame(result)

In [49]:
# information check
df.describe()

,engine_id,cycle,op_setting_1,op_setting_2,op_setting_3,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,...,sensor_12,sensor_13,sensor_14,sensor_15,sensor_16,sensor_17,sensor_18,sensor_19,sensor_20,sensor_21
count,265256.000000,265256.000000,265256.000000,265256.000000,265256.000000,265256.000000,265256.000000,265256.000000,265256.000000,265256.000000,...,265256.000000,265256.000000,265256.000000,265256.000000,265256.000000,265256.000000,265256.000000,265256.000000,265256.000000,265256.000000
mean,104.590965,112.288337,17.224563,0.410353,95.733933,485.821285,597.278898,1466.127181,1259.486900,9.892154,...,338.650301,2349.710886,8087.265017,9.051522,0.025127,360.457294,2273.788744,98.392759,25.945540,15.567569
std,72.288716,81.173106,16.528816,0.367993,12.346819,30.422878,42.459627,118.054562,136.086342,4.265541,...,164.160366,111.057719,79.995135,0.750330,0.004998,30.987659,142.396262,4.651664,11.695193,7.017239
min,1.000000,1.000000,-0.008700,-0.000600,60.000000,445.000000,535.410000,1240.940000,1023.770000,3.910000,...,128.260000,2027.570000,7845.780000,8.156300,0.020000,302.000000,1915.000000,84.930000,10.160000,6.010500
25%,44.000000,48.000000,0.001300,0.000200,100.000000,449.440000,549.890000,1356.460000,1125.630000,5.480000,...,164.790000,2387.960000,8069.620000,8.433200,0.020000,332.000000,2212.000000,100.000000,14.340000,8.603900
50%,89.000000,99.000000,19.998200,0.620000,100.000000,489.050000,605.810000,1491.810000,1269.200000,9.350000,...,320.060000,2388.060000,8117.350000,9.059250,0.030000,367.000000,2319.000000,100.000000,24.850000,14.916450
75%,163.000000,160.000000,35.001500,0.840000,100.000000,518.670000,642.280000,1585.820000,1400.960000,14.620000,...,521.450000,2388.140000,8138.190000,9.339800,0.030000,392.000000,2388.000000,100.000000,38.850000,23.310600
max,260.000000,543.000000,42.008000,0.842000,100.000000,518.670000,645.110000,1616.910000,1441.490000,14.620000,...,537.490000,2390.490000,8293.720000,11.066900,0.030000,400.000000,2388.000000,100.000000,39.890000,23.950500

In [50]:
# information check
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265256 entries, 0 to 265255
Data columns (total 28 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   engine_id      265256 non-null  int64
 1   cycle          265256 non-null  int64
 2   op_setting_1   265256 non-null  float64
 3   op_setting_2   265256 non-null  float64
 4   op_setting_3   265256 non-null  float64
 5   sensor_1       265256 non-null  float64
 6   sensor_2       265256 non-null  float64
 7   sensor_3       265256 non-null  float64
 8   sensor_4       265256 non-null  float64
 9   sensor_5       265256 non-null  float64
 10  sensor_6       265256 non-null  float64
 11  sensor_7       265256 non-null  float64
 12  sensor_8       265256 non-null  float64
 13  sensor_9       265256 non-null  float64
 14  sensor_10      265256 non-null  float64
 15  sensor_11      265256 non-null  float64
 16  sensor_12      265256 non-null  float64
 17  sensor_13      265256 non-null  float64
 18  sensor_14      265256 non-null  float64
 19  sensor_15      265256 non-null  float64
 20  sensor_16      265256 non-null  float64
 21  sensor_17      265256 non-null  float64
 22  sensor_18      265256 non-null  float64
 23  sensor_19      265256 non-null  float64
 24  sensor_20      265256 non-null  float64
 25  sensor_21      265256 non-null  float64
 26  dataset_id     265256 non-null  object
 27  dataset_split  265256 non-null  object
dtypes: float64(24), int64(2), object(2)
memory usage: 56.7+ MB

In [35]:
# Check for missing values
df.isnull().sum()

engine_id        0
cycle            0
op_setting_1     0
op_setting_2     0
op_setting_3     0
sensor_1         0
sensor_2         0
sensor_3         0
sensor_4         0
sensor_5         0
sensor_6         0
sensor_7         0
sensor_8         0
sensor_9         0
sensor_10        0
sensor_11        0
sensor_12        0
sensor_13        0
sensor_14        0
sensor_15        0
sensor_16        0
sensor_17        0
sensor_18        0
sensor_19        0
sensor_20        0
sensor_21        0
dataset_id       0
dataset_split    0
dtype: int64

In [ ]:
# check if there are duplicate values
# used the following columns to allow for each engine and cycle to be checked to ensure no duplicate data
duplicates = df.duplicated(subset=["engine_id", "cycle", 'dataset_id', 'dataset_split']).sum()
duplicates

0