In [1]:
###################################################################
#NASA Turbofan Engine Degradation reliability and failure analysis#
###################################################################
#
# Data cleaning on the NASA Turbofan engine degradation data
# The following questions will be investigated
# - Which engines show the fastest degradation?
# - Which sensors are strongest failure indicators?
# - How long do engines typically operate before failure?

In [ ]:
# Create tables - engine_readings, engine_metadata, failure_events
# Data clean and prep - missing values, rename columns, convert timestamps/cycles,  rolling avgs, delts
# EDA - trends over time, time to failure, correlation between failure and sensors (graphs)
# Feature creation - RUL, degradation, failure frequency per engine type
# Run SQL queries - avg cycles to failure by engine type, rank engine by degradation spead, top 10 sensors with early failure,
#                   rolling avg using windows functions, failure rate by batch/custom (save sql files and show in notebook)
# Dashboard

In [2]:
import pandas as pd
from sqlalchemy import create_engine, text

In [3]:
# create connection
engine = create_engine("postgresql://postgres:Project1-NASA@localhost:5432/Project1-NASA")

engine.connect()

In [4]:
# connection to pull the data from the database and assign it to a dataframe
with engine.connect() as connection:
    result = connection.execute(text('SELECT * FROM engine_readings'))
    df = pd.DataFrame(result)

In [5]:
# information check
df.describe()

,engine_id,cycle,op_setting_1,op_setting_2,op_setting_3,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,...,sensor_12,sensor_13,sensor_14,sensor_15,sensor_16,sensor_17,sensor_18,sensor_19,sensor_20,sensor_21
count,285887.000000,285887.000000,285887.000000,285887.000000,285887.000000,285887.000000,285887.000000,285887.000000,285887.000000,285887.000000,...,285887.000000,285887.000000,285887.000000,285887.000000,285887.000000,285887.000000,285887.000000,285887.000000,285887.000000,285887.000000
mean,100.760136,112.037169,15.981554,0.380740,96.041793,488.191808,600.555331,1475.104199,1270.271716,10.233339,...,351.839383,2352.480954,8091.341445,9.007547,0.025479,362.820936,2282.030785,98.508745,26.874355,16.124836
std,71.406409,80.353969,16.533342,0.370029,11.944094,30.512431,42.553019,118.194571,136.690625,4.287012,...,165.046807,107.435575,78.596006,0.739819,0.004977,31.031327,140.309767,4.499937,11.747391,7.048526
min,1.000000,1.000000,-0.008700,-0.000600,60.000000,445.000000,535.410000,1240.940000,1023.770000,3.910000,...,128.260000,2027.570000,7845.780000,8.156300,0.020000,302.000000,1915.000000,84.930000,10.160000,6.010500
25%,42.000000,48.000000,0.000900,0.000100,100.000000,449.440000,550.130000,1358.170000,1127.000000,5.480000,...,165.090000,2387.970000,8071.720000,8.429900,0.020000,332.000000,2212.000000,100.000000,14.410000,8.645700
50%,84.000000,99.000000,10.004600,0.250600,100.000000,491.190000,607.150000,1497.700000,1303.730000,10.520000,...,371.390000,2388.060000,8123.620000,8.658600,0.030000,369.000000,2324.000000,100.000000,28.530000,17.119600
75%,157.000000,159.000000,34.999700,0.840000,100.000000,518.670000,642.390000,1587.180000,1403.050000,14.620000,...,521.540000,2388.140000,8139.350000,9.331200,0.030000,392.000000,2388.000000,100.000000,38.870000,23.321000
max,260.000000,543.000000,42.008000,0.842000,100.000000,518.670000,645.110000,1616.910000,1441.490000,14.620000,...,537.490000,2390.490000,8293.720000,11.066900,0.030000,400.000000,2388.000000,100.000000,39.890000,23.950500

In [6]:
# information check
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 285887 entries, 0 to 285886
Data columns (total 28 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   engine_id      285887 non-null  int64
 1   cycle          285887 non-null  int64
 2   op_setting_1   285887 non-null  float64
 3   op_setting_2   285887 non-null  float64
 4   op_setting_3   285887 non-null  float64
 5   sensor_1       285887 non-null  float64
 6   sensor_2       285887 non-null  float64
 7   sensor_3       285887 non-null  float64
 8   sensor_4       285887 non-null  float64
 9   sensor_5       285887 non-null  float64
 10  sensor_6       285887 non-null  float64
 11  sensor_7       285887 non-null  float64
 12  sensor_8       285887 non-null  float64
 13  sensor_9       285887 non-null  float64
 14  sensor_10      285887 non-null  float64
 15  sensor_11      285887 non-null  float64
 16  sensor_12      285887 non-null  float64
 17  sensor_13      285887 non-null  float64
 18  sensor_14      285887 non-null  float64
 19  sensor_15      285887 non-null  float64
 20  sensor_16      285887 non-null  float64
 21  sensor_17      285887 non-null  float64
 22  sensor_18      285887 non-null  float64
 23  sensor_19      285887 non-null  float64
 24  sensor_20      285887 non-null  float64
 25  sensor_21      285887 non-null  float64
 26  dataset_id     285887 non-null  object
 27  dataset_split  285887 non-null  object
dtypes: float64(24), int64(2), object(2)
memory usage: 61.1+ MB

In [7]:
# Check for missing values
df.isnull().sum()

engine_id        0
cycle            0
op_setting_1     0
op_setting_2     0
op_setting_3     0
sensor_1         0
sensor_2         0
sensor_3         0
sensor_4         0
sensor_5         0
sensor_6         0
sensor_7         0
sensor_8         0
sensor_9         0
sensor_10        0
sensor_11        0
sensor_12        0
sensor_13        0
sensor_14        0
sensor_15        0
sensor_16        0
sensor_17        0
sensor_18        0
sensor_19        0
sensor_20        0
sensor_21        0
dataset_id       0
dataset_split    0
dtype: int64

In [16]:
# check if there are duplicate values
print(df.duplicated().value_counts())
df[df.duplicated()].head()

False    265256
True      20631
Name: count, dtype: int64

,engine_id,cycle,op_setting_1,op_setting_2,op_setting_3,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,...,sensor_14,sensor_15,sensor_16,sensor_17,sensor_18,sensor_19,sensor_20,sensor_21,dataset_id,dataset_split
125528,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,8138.62,8.4195,0.03,392.0,2388.0,100.0,39.06,23.4190,FD001,train
125529,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,8131.49,8.4318,0.03,392.0,2388.0,100.0,39.00,23.4236,FD001,train
125530,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,8133.23,8.4178,0.03,390.0,2388.0,100.0,38.95,23.3442,FD001,train
125531,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,8133.83,8.3682,0.03,392.0,2388.0,100.0,38.88,23.3739,FD001,train
125532,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,8133.80,8.4294,0.03,393.0,2388.0,100.0,38.90,23.4044,FD001,train