In [1]:
###################################################################
#NASA Turbofan Engine Degradation reliability and failure analysis#
###################################################################
#
# Data cleaning on the NASA Turbofan engine degradation data
# The following questions will be investigated
# - Which engines show the fastest degradation?
# - Which sensors are strongest failure indicators?
# - How long do engines typically operate before failure?

In [ ]:
# Create tables - engine_readings, engine_metadata, failure_events
# Data clean and prep - missing values, rename columns, convert timestamps/cycles,  rolling avgs, delts
# EDA - trends over time, time to failure, correlation between failure and sensors (graphs)
# Feature creation - RUL, degradation, failure frequency per engine type
# Run SQL queries - avg cycles to failure by engine type, rank engine by degradation spead, top 10 sensors with early failure,
#                   rolling avg using windows functions, failure rate by batch/custom (save sql files and show in notebook)
# Dashboard

In [2]:
import pandas as pd
from sqlalchemy import create_engine, text

In [3]:
# create connection
engine = create_engine("postgresql://postgres:Project1-NASA@localhost:5432/Project1-NASA")

engine.connect()

In [4]:
# connection to pull the data from the database and assign it to a dataframe
with engine.connect() as connection:
    result = connection.execute(text('SELECT * FROM engine_readings LIMIT 10'))
    df = pd.DataFrame(result)

In [ ]:
# information check
df.describe()

,engine_id,cycle,op_setting_1,op_setting_2,op_setting_3,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,...,sensor_12,sensor_13,sensor_14,sensor_15,sensor_16,sensor_17,sensor_18,sensor_19,sensor_20,sensor_21
count,10.0,10.00000,10.000000,10.000000,10.0,10.00,10.000000,10.000000,10.000000,10.00,...,10.000000,10.000000,10.000000,10.000000,1.000000e+01,10.000000,10.0,10.0,10.000000,10.000000
mean,1.0,5.50000,-0.001350,-0.000010,100.0,518.67,642.201000,1587.712000,1400.840000,14.62,...,522.146000,2388.044000,8132.228000,8.408390,3.000000e-02,391.800000,2388.0,100.0,38.984000,23.389600
std,0.0,3.02765,0.002382,0.000238,0.0,0.00,0.275941,4.030751,3.313461,0.00,...,0.400949,0.020111,3.333946,0.022654,7.314236e-18,0.918937,0.0,0.0,0.070111,0.044857
min,1.0,1.00000,-0.004300,-0.000400,100.0,518.67,641.710000,1582.790000,1394.800000,14.62,...,521.660000,2388.020000,8125.690000,8.368200,3.000000e-02,390.000000,2388.0,100.0,38.880000,23.310600
25%,1.0,3.25000,-0.003375,-0.000175,100.0,518.67,642.105000,1583.337500,1398.892500,14.62,...,521.790000,2388.030000,8131.175000,8.399950,3.000000e-02,391.250000,2388.0,100.0,38.950000,23.368650
50%,1.0,5.50000,-0.001300,0.000050,100.0,518.67,642.250000,1588.845000,1400.785000,14.62,...,522.235000,2388.035000,8132.585000,8.414300,3.000000e-02,392.000000,2388.0,100.0,38.975000,23.390900
75%,1.0,7.75000,0.000775,0.000100,100.0,518.67,642.365000,1591.175000,1402.822500,14.62,...,522.395000,2388.057500,8133.657500,8.426325,3.000000e-02,392.000000,2388.0,100.0,39.037500,23.415900
max,1.0,10.00000,0.001900,0.000300,100.0,518.67,642.560000,1592.320000,1406.220000,14.62,...,522.860000,2388.080000,8138.620000,8.431800,3.000000e-02,393.000000,2388.0,100.0,39.100000,23.469400

In [ ]:
# information check
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 28 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   engine_id      10 non-null     int64
 1   cycle          10 non-null     int64
 2   op_setting_1   10 non-null     float64
 3   op_setting_2   10 non-null     float64
 4   op_setting_3   10 non-null     float64
 5   sensor_1       10 non-null     float64
 6   sensor_2       10 non-null     float64
 7   sensor_3       10 non-null     float64
 8   sensor_4       10 non-null     float64
 9   sensor_5       10 non-null     float64
 10  sensor_6       10 non-null     float64
 11  sensor_7       10 non-null     float64
 12  sensor_8       10 non-null     float64
 13  sensor_9       10 non-null     float64
 14  sensor_10      10 non-null     float64
 15  sensor_11      10 non-null     float64
 16  sensor_12      10 non-null     float64
 17  sensor_13      10 non-null     float64
 18  sensor_14      10 non-null     float64
 19  sensor_15      10 non-null     float64
 20  sensor_16      10 non-null     float64
 21  sensor_17      10 non-null     float64
 22  sensor_18      10 non-null     float64
 23  sensor_19      10 non-null     float64
 24  sensor_20      10 non-null     float64
 25  sensor_21      10 non-null     float64
 26  dataset_id     10 non-null     object
 27  dataset_split  10 non-null     object
dtypes: float64(24), int64(2), object(2)
memory usage: 2.3+ KB

In [11]:
# Check for missing values
df.isnull().sum()

engine_id        0
cycle            0
op_setting_1     0
op_setting_2     0
op_setting_3     0
sensor_1         0
sensor_2         0
sensor_3         0
sensor_4         0
sensor_5         0
sensor_6         0
sensor_7         0
sensor_8         0
sensor_9         0
sensor_10        0
sensor_11        0
sensor_12        0
sensor_13        0
sensor_14        0
sensor_15        0
sensor_16        0
sensor_17        0
sensor_18        0
sensor_19        0
sensor_20        0
sensor_21        0
dataset_id       0
dataset_split    0
dtype: int64

In [ ]:
# check if there are duplicate values
df.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [ ]:
# Overall, the data was very clean with no duplicates and no missing information.
# Therefore, I will not do any further cleaning and will move on to exploratory data analysis.